#contact {
    margin-top: 105px;
}

/* FORM */

#contact form > div {
    clear: both;
    margin: 15px 0;
}

#contact form > div:first-child {
    padding-top: 30px;
}

#contact form > div > div {
    float: left;
    min-height: 100px;
    box-sizing: border-box;
}

#contact form > div > div:first-child {
    width: 30%;
    padding: 0 0 0 7%;
}

#contact form > div > div:nth-child(2) {
    width: 70%;
    padding: 0 7% 0 0;
    box-sizing: border-box;
}

#contact label {
    color: #636363;
    font-size: 20px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    float: left;
    margin-left: 5%;
}

#contact input, textarea {
    outline: none;
    resize: none;
    overflow: auto;
    float: left;
    border: none;
}

#contact input[type="text"], input[type="email"], textarea {
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f4f5f5;
    
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    text-shadow: none;
    color: #7e7e7e;
}

#contact input, label {
    height: 35px;
    line-height: 35px;
}

#contact textarea {
    height: 150px;
    padding: 10px;
}

#contact input[type="submit"] {
    overflow: hidden;
    padding: 0 10px;
    min-width: 120px;
    width: 10vw;
}

#contact-voornaam, #contact-mail, #contact-onderwerp, #contact-boodschap, input[type="submit"] {
    clear: right;
}

#contact-voornaam {
    width: 30%;
    margin-right: 7.5px;
}

#contact-naam {
    width: 30%;
    margin-left: 7.5px;
}

#contact-mail {
    width: calc(60% + 15px);
}

#contact-onderwerp, #contact-boodschap {
    width: 100%;
}

#contact-mail, #contact-boodschap, input[type="submit"] {
    margin-top: 15px;
}

#contact ::-webkit-input-placeholder {
    font-size: 17px;
}

#contact :-moz-placeholder { /* Firefox 18- */
    font-size: 17px;
}

#contact ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 17px;
}

#contact :-ms-input-placeholder {  
    font-size: 17px;
}

/* BOX SECTION */

section.box {
    display: block;
    width: 90%;
    height: 100px;
    margin: 30px auto;
    background-color: #f4f5f5;
    text-align: justify;
    border-radius: 10px;
}

section.box header {
    float: left;
    border: none;
    margin: 0;
    padding: 15px;
    background: none;
    height: 100px;
    width: 30%;
    min-width: 280px;
    text-align: left;
    font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
    box-sizing: border-box;
}

section.box div {
    float: left;
    width: 70%;
    height: 78px;
    box-sizing: border-box;
    -moz-column-count: 3;
   -webkit-column-count: 3;
    margin: 11px 0
}

section.box ul {
    margin: 0;
    padding: 0;
}

section.box li {
    list-style-type: none;
}

section.box a {
    display: block;
    font-family: "Source Sans Pro Light", Calibri, Arial, sans-serif;
    font-size: 24px;
    color: #7d7e7e;
    text-decoration: none;
    line-height: 35px;
    width: 200px;
    padding-left: 50px;
}

section.box a:hover:not(#icon-telephone) {
    -webkit-transition: .2s all;
    transition: .2s all;
    margin-left: 4px;
}

section.box li:nth-of-type(odd) {
    margin-bottom: 8px;
}

#icon-telephone {
    background: url(img/icons/telephone.svg) no-repeat left;
    background-size: 35px;
}

#icon-mail {
    background: url(img/icons/mail.svg) no-repeat left;
    background-size: 35px;
}

#icon-facebook {
    background: url(img/icons/facebook.svg) no-repeat left;
    background-size: 35px;
}

#icon-twitter {
    background: url(img/icons/twitter.svg) no-repeat left;
    background-size: 35px;
}

#icon-linkedin {
    background: url(img/icons/linkedin.svg) no-repeat left;
    background-size: 35px;
}

#icon-googleplus {
    background: url(img/icons/googleplus.svg) no-repeat left;
    background-size: 35px;
}

section.box header h1 {
    text-transform: uppercase;
    font-weight: 700;
}

section.box header p {
    font-family: "Source Sans Pro Light", Calibri, Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 1300px) {
    section.box div {
        width: 70%;
        -moz-column-count: 2;
       -webkit-column-count: 2;
        margin: 11px 0;
    }
    section.box a {
        display: block;
        font-family: "Source Sans Pro Light", Calibri, Arial, sans-serif;
        font-size: 24px;
        color: #7d7e7e;
        text-decoration: none;
        height: 35px;
        line-height: 35px;
        width: 200px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 770px) {
	#contact-voornaam{
		width:100%;
	}
	#contact-naam{
		width:100%;
		margin:10px 0 0 0;
	}
	#contact-mail{
		width:100%;
	}
	
}
@media screen and (max-width: 550px) {
	#contact form > div > div:first-child{
		padding:0;
	}
	#contact form > div > div:nth-child(2) {
    padding:0 2% 0 0;
}
	main section{
		width:95%
	}

	
}