#contact {
    margin-top: 75px;
}

label {
    color: #636363;
    font-size: 18px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    float: left;
    margin-left: 5%;
}

input, textarea {
    outline: none;
    overflow: auto;
    float: right;
    text-shadow: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    resize: none;
    background-color: #f4f5f5;
}

input, label {
    height: 35px;
    line-height: 35px;
}

input[type="submit"] {
    overflow: hidden;
    float: left;
}

#contact-mail, #contact-onderwerp, #contact-boodschap, #contact-voornaam {
    margin-right: 6vw;
}

#contact-voornaam, #contact-mail, #contact-onderwerp, #contact-boodschap, input[type="submit"] {
    clear: right;
}

#contact-voornaam {
    width: 200px;
    margin-left: 7.5px;
}

#contact-naam {
    width: 200px;
    margin-right: 7.5px;
}

#contact-mail, #contact-onderwerp, #contact-boodschap {
    width: 415px;
    margin-top: 15px;
}

#contact-mail ~ label {
    margin-top: 15px;
}

::-webkit-input-placeholder {
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    color: #a5a5a5;
    padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    color: #a5a5a5;
    padding-left: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    color: #a5a5a5;
    padding-left: 10px;
}

:-ms-input-placeholder {  
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    color: #a5a5a5;
    padding-left: 10px;
}