#contact {
    margin-top: 105px;
}

#contact form > div {
    clear: both;
    margin: 15px 0;
}

#contact form > div:first-child {
    padding-top: 30px;
}

#contact form > div > div {
    float: left;
    min-height: 100px;
    box-sizing: border-box;
}

#contact form > div > div:first-child {
    width: 30%;
    padding: 0 0 0 7%;
}

#contact form > div > div:nth-child(2) {
    width: 70%;
    padding: 0 7% 0 0;
    box-sizing: border-box;
}

#contact label {
    color: #636363;
    font-size: 20px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    float: left;
    margin-left: 5%;
}

#contact input, textarea {
    outline: none;
    resize: none;
    overflow: auto;
    float: left;
    
    border: none;
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f4f5f5;
    
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    text-shadow: none;
    color: #7e7e7e;
}

#contact input, label {
    height: 35px;
    line-height: 35px;
}

#contact textarea {
    height: 150px;
    padding: 10px;
}

#contact input[type="submit"] {
    overflow: hidden;
    padding: 0 10px;
    min-width: 120px;
    width: 10vw;
}

#contact-voornaam, #contact-mail, #contact-onderwerp, #contact-boodschap, input[type="submit"] {
    clear: right;
}

#contact-voornaam {
    width: 30%;
    margin-right: 7.5px;
}

#contact-naam {
    width: 30%;
    margin-left: 7.5px;
}

#contact-mail {
    width: calc(60% + 15px);
}

#contact-onderwerp, #contact-boodschap {
    width: 100%;
}

#contact-mail, #contact-boodschap, input[type="submit"] {
    margin-top: 15px;
}

#contact ::-webkit-input-placeholder {
    font-size: 17px;
}

#contact :-moz-placeholder { /* Firefox 18- */
    font-size: 17px;
}

#contact ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 17px;
}

#contact :-ms-input-placeholder {  
    font-size: 17px;
}