/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    
    /* nav */
    
    header > nav > a:not(.menu) {
        display: block;
        float: none;
        margin: 0 auto !important;
        text-align: center;
    }
    
    .borderNull {
        border: 0;
    }
    
    header nav ul {
        display: block;
        position: inherit;
        z-index: 9999 !important;
        margin: 0;
        background-color: #FFFFFF;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        padding: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    
    .translateLeft {
        left: -100%;
    }
    
    .menuLayer {
        position: fixed !important;
        z-index: 9997 !important;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
    }
    
    header nav ul li {
        display: block;
        margin: 18px 0px;
        float: none;
    }
    
    header nav ul li a {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80px;
        border-radius: .3em;
        border: 2px solid #92CDCF;
        color: #92CDCF;
        padding: 10px;
    }
    
    header nav ul li a:not(.noHover):hover {
        color: #92CDCF !important;
    }
    
    header nav ul li:not(.noHover):hover {
        background-color: white;
    }
    
    header nav ul li:not(.noHover):hover a {
        color: #92CDCF;
    }
    
    #login {
        display: block;
        margin: auto;
    }
    
    .top {
        margin-top: 40px;
    }
    
    .logout {
        display: block !important;
        font-size: 1em;
        color: #92CDCF;
        margin-top: -10px;
    }
    
    #login {
        display: block;
        width: 60px;
        height: 60px;
        background-size: 60px;
        text-align: center;
        margin: 0 auto !important;
        margin-top: 10px !important;
    }
    
    .closeMenu {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        background: url(img/arrow-left-white.png) no-repeat center;
        background-size: 18px;
        position: absolute;
        right: 2%;
        top: 2%;
        -webkit-transition: all .2s;
        transition: all .2s;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        display: inherit;
    }
    
    .arrowMenu {
        background: url(img/arrow-down.png) no-repeat center;
        background-size: 18px;
    }
    
    .menu {
        display: block !important;
        position: absolute;
        cursor: pointer;
        left: 11px;
        top: 10px;
        width: 50px;
        height: 50px;
        background: url(img/menu.png) no-repeat center;
        background-size: 22px;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    
    .overflow {
        overflow: hidden !important;
        overflow-y: hidden !important;
        position: fixed;
    }
    
    .trans {
        top: -150% !important;
    }

    .arrow {
        background: url(img/arrow-up-white.png) no-repeat center !important;
        background-size: 15px !important;
    }

    .opacity {
        opacity: 1 !important;
    }

    .bgScale {
        background: url(img/camera.png) no-repeat center;
        background-size: 20px !important;
    }
    
    /* FOOTER */

    #footer-wrapper {
        margin-top: 50px;
    }

    footer:first-of-type {
        height: auto;
        padding: 30px;
        box-sizing: border-box;
    }

    footer:nth-of-type(2) {
        height: auto;
    }

    footer div {
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0 !important;
    }

    footer h1 {
        margin: 25px 0 5px 0;
        text-align: center;
        width: 100%;
    }
    
    footer:first-of-type div:first-of-type h1 {
        margin: 0 0 5px 0;
    }

    footer p, footer li {
        margin: 5px 0;
        text-align: center;
    }
    
    footer ul {
        margin: auto 0;
        width: 100%;
    }
    
    footer div:nth-of-type(3) h1 {
        width: inherit;
    }
    
    footer div:nth-of-type(3) li {
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    
    footer div:nth-of-type(3) a {
        margin: 0;
    }
}