main {
    margin-top: 20px;
}

/* BANNER */

#banner {
    position: relative;
    width: 100%;
    height: 350px;
    background: url(img/music_teacher.jpg) no-repeat;
    background-position: 50% 10%;
    background-size: cover;
    margin-top: 75px;
}

#banner a {
    position: absolute;
    color: #61626f;
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-align: center;
    width: 120px;
    padding: 20px;
    border-top-left-radius: .5em;
    background-color: rgba(250, 250, 250, .9);
    right: 0;
    bottom: 0;
    margin: 0;
    text-decoration: none
}

/* WRAPPER (WAT + VOORDEELGIDS) */

#wat p:first-of-type,
#voordeelgids p:first-of-type{
    padding: 30px 0 10px 0;
}

#wat p:last-of-type {
    padding: 10px 0 30px 0;
}

#nieuws, #wrapper2 {
    width: 50%;
    float: left;
    margin: 0;
}

#wat {
    margin-top: 0;
}

#wrapper2 {
    padding-right: 30px;
    box-sizing: border-box;
}

#wat, #voordeelgids {
    width: 100%;
}

#wrapper1 {
    width: 80%;
    margin: auto;
}

#voordeelgids img {
    width: 180px;
}

#voordeelgids p {
    width: calc(100% - 180px);
}

#voordeelgids img, #voordeelgids p {
    float: left;
}

/* NIEUWS */

#nieuws article {
    margin: 30px auto;
    width: 90%;
    background: #f4f5f5;
    border-radius: 7px;
}

.article-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    height: 140px;
}

.article-content h1 {
    font-family: "Bariol", Calibri, Arial, sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin: 0;
    color: #4F5461;
}

.article-content h2 {
    font-family: "Bariol", Calibri, Arial, sans-serif;
    font-weight: 100;
    font-size: 17px;
    margin: 2px 0 15px 0;
    color: #4F5461;
}

#nieuws img {
    float: left;
    height: 140px;
    width: 195px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

/* VOOR WIE? */

#wie ul {
    padding: 0;
    margin: 0;
}

#wie nav ul li {
    list-style-type: none;
    float: left;
    width: calc(100% / 3);
}

#wie nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #61626f;
    font-size: 1.2em;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    box-sizing: border-box;
}

#wie nav ul li {
    cursor: pointer;
}

#wie nav ul li:first-of-type a {
    border-right: 1px dashed #E0E1E2;
}
    
#wie nav ul li:last-of-type a {
    border-left: 1px dashed #E0E1E2;
}

#wie nav ul li a:hover {
    background-color: #92CDCF;
    color: #E7E9EA;
}


#wie nav {
    display: block;
    background-color: #F0F0F1;
}

#wie > div {
    width: 100%;
    height: auto;
    float: left;
}

#wie div div {
    width: 25%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

#wie div div img {
    width: 80%;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    margin: 0 auto 10px auto;
}

#wie div div h1 {
    width: 100%;
    height: 10%;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

#wie div div p {
    width: 100%;
    height: 40%;
}

#wie div div a {
    color: #4F5461;
}

#wie h1, #wie p {
    font-family: Bariol, Calibri, Arial, sans-serif;
}

#wie div h1 {
    text-transform: uppercase;
    color: #61626f;
    font-size: 20px;
    margin: 0 0 15px 0;
}


/* GEINTERESSEERD? */

#inschrijven #school, #inschrijven #ind {
    display: inline-block;
    width: calc(50% - 2px);
}

#inschrijven h2, #inschrijven h3 {
    text-align: center;
    font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
    color: #61626f;
}

#inschrijven h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    padding: 0;
    margin: 30px 0 0 0;
}

#inschrijven h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

#inschrijven p {
    width: 80%;
    margin: 0 auto;
    font-family: bariol;
    color: #4F5461;
}

#inschrijven .button {
    padding: 7px 15px;
    display: block;
    margin: 20px auto;
    width: 100px;
}

#login {
    padding: 0 !important;
    background: url(img/teacher2.png) center no-repeat;
    background-size: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    border: 4px solid #FFF1C0;
}

#login:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: none !important;
}

@media only screen and (max-width: 750px) {
    #banner {
        background-position: 37% 10%;
    }
    
    section{width: 95%;}
    
    /* WIE? */
    
    #wie div div {
        width: 100%;
        height: 100%;
        float: left;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #wie div div img {
        width: 170px;
    }
    
    #wie div div p {
        text-align: center;
        width: 80%;
    }
    
    #wie nav ul li {
        float: none;
        width: 100%;
    }
    
    /* INSCHRIJVEN */
    
    #inschrijven #school, #inschrijven #ind {
        display: block;
        width: 100%;
    }
    
    #inschrijven #school {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 550px) {
        
    /* NIEUWS? */
    
    #nieuws img {
        float: none;
        height: auto;
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    
    .article-content h1, .article-content h2, .article-content .button {
        display: block;
        text-align: center;
    }
    
    .article-content {
        display: block;
        padding: 15px;
        height: auto;
    }
}