*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Bariol";
    src: url("fonts/bariol_regular-webfont.eot?#iefix") format("eot"),
    url("fonts/bariol_regular-webfont.woff") format("woff"),
    url("fonts/bariol_regular-webfont.ttf") format("truetype"),
    url("fonts/bariol_regular-webfont.svg") format("svg");
}

body {
    background-color: #F3F4F4;
}

/* HEADER */

#logo {
    display: inline-block;
    width: 100px;
    padding-left: 30px;
    color: #4F5461;
    font-family: brandon;
}

header nav {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    padding: 12px 0px;
}

header nav ul {
    float: right;
    margin: 3px 30px 0 0;
}

header nav ul li {
    display: inline;
    margin: 0px 10px;
}

header nav ul li a {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-decoration: none;
    color: #4F5461;
}

#login {
    display: inline-block;
    background-color: #92CDCF;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: .2em;
    box-shadow: 0px 0px 30px -19px black inset;
}

header nav ul li#login a {
    color: #FFFFFF;
}

/* BANNER */

#banner {
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    background: url(img/banner_IMPACT.png) no-repeat center;
    background-size: cover;
}

#banner p {
    display: block;
    position: absolute;
    color: #FFFFFF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-align: center;
    width: 120px;
    padding: 20px 20px;
    border-top-left-radius: .5em;
    background-color: rgba(250, 250, 250, .7);
    right: 0;
    bottom: 0;
}

/* MAIN */

main {
    width: 100%;
}

section {
    display: block;
    width: 70%;
    margin: 50px auto;
    background-color: #FFFFFF;
    text-align: justify;
}

section h1 {
    display: block;
    color: #92CDCF;
    border-top: 1px solid #92CDCF;
    background-color: #E7E9EA;
    width: 100%;
    text-align: center;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding: 15px 0px;
}

section p {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #4F5461;
}

/* WAT? */

#wat p {
    margin: 0 auto;
    width: 80%;
    padding: 30px 0px;
}

/* VOOR WIE? */

#wie nav ul li {
    list-style-type: none;
}

#wie nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 0px 15px 15px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 1.1em;
    border-bottom: 1px dashed #E0E1E2;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#wie nav ul li a:hover {
    color: #92CDCF;
}

#wie nav {
    display: block;
    width: 160px;
    background-color: #F0F0F1;
}

/* INSCHRIJVINGEN */

#inschrijven {
    padding-bottom: 30px;
}

#inschrijven #school, #inschrijven #ind {
    display: inline-block;
    width: calc(50% - 2px);
}

#inschrijven h2, #inschrijven h3 {
    text-align: center;
    font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
    color: #61626f;
}

#inschrijven h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    padding-top: 20px;
}

#inschrijven h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 15px;
}

#inschrijven p {
    width: 80%;
    margin: 0 auto;
    font-family: bariol;
    color: #4F5461;
}

/* FOOTER */

footer {
    background-color: #add8dc;
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 50px 0;
}

#sponsers, #adres{
    display: inline;
}

#sponsers {
    
}

footer p {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: white;
}

footer ul li {
    text-indent: -9999px;
    width: 70px;
    height: 70px;
    display: inline-block;
}

#adres {
    right: 10px;
}

footer ul li:nth-child(1) {
    background: url(img/Cera.svg) no-repeat;
}

footer ul li:nth-child(2) {
    background: url(img/Bozar.svg) no-repeat;
}

footer ul li:nth-child(3) {
    background: url(img/Piano's%20Maene.svg) no-repeat;
}