section div {
    float: left;
    padding: 40px;
    box-sizing: border-box;
    height: 100%;
}

section div:first-of-type {
    width: 100%;
    height: 30vw;
    background: url(img/klankendaal/klankendaal-o.png) no-repeat top center;
    background-size: 100%;
}

section div:nth-of-type(2) {
    width: 60%;
}

section div:nth-of-type(3) {
    width: 40%;
    height: 100%;
}

section iframe {
    max-height: 300px;
    height: 250px;
    width: 100%;
}

section p {
    padding-bottom: 20px;
    width: 100%;
}

@media only screen and (max-width: 950px) {
    section div {
        clear: both;
        width: 100% !important;
    }
    
    section a {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 800px) {
    section div:first-of-type {
        background: url(img/klankendaal/klankendaal-m.png) no-repeat top center;
    }
}

@media only screen and (max-width: 400px) {
    section div:first-of-type {
        background: url(img/klankendaal/klankendaal-s.png) no-repeat top center;
    }  
}
@media screen and (max-width: 500px) {
	main section{
		width:95%;
	}
}