body, html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Bariol";
    src: url("fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bariol_regular-webfont.woff") format("woff"),
    url("fonts/bariol_regular-webfont.ttf") format("truetype"),
    url("fonts/bariol_regular-webfont.svg") format("svg");
}

@font-face {
    font-family: "Bariol Bold";
    src: url("fonts/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bariol_bold-webfont.woff") format("woff"),
    url("fonts/bariol_bold-webfont.ttf") format("truetype"),
    url("fonts/bariol_bold-webfont.svg") format("svg");
}

body {
    background-color: #F3F4F4;
}

.overflow {
    overflow: hidden;
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* HEADER */

#logo {
    width: 90px;
    height: 35px;
    margin: -17.5px 0 0 30px;
    background: url(img/MuzesLogo.svg) no-repeat center;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
}

header nav {
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    padding: 12px 0;
    position: relative;
    position: fixed;
    z-index: 9997;
    top: 0;
    border-bottom: 1px solid #92CDCF;
}

header nav ul {
    margin: -14px 20px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    height: 28px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 10px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-decoration: none;
    color: #4F5461;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    transition: .2s all;
}

header nav ul li a:hover:not(#login) {
    color: #92CDCF;
}

.login {
    color: #FFFFFF !important;
}

/* MAIN */

main {
    width: 100%;
    text-align: center;
}

section {
    display: inline-block;
    width: 80%;
    margin: 20px;
    background-color: #FFFFFF;
    text-align: justify;
}

section > h2 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #a4a4a4;
    padding: 10px 0;
    margin: 0;
}

section:last-of-type {
    margin-bottom: 40px
}

section header {
    display: block;
    border-top: 1px solid #92CDCF;
    background-color: #E7E9EA;
    width: 100%;
    text-align: center;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding: 15px 0;
    margin-bottom: 20px
}

section header h1 {
    color: #92CDCF;
    font-size: 1.5em;
    margin: 0;
}

section header h2 {
    color: #7e7e7e;
    font-size: 1em;
    margin: 0;
}

section p {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #4F5461;
}

.button {
    display: inline-block;
    background-color: #92CDCF;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: .2em;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.button:hover {
    background-color: #81AAAA;
}

/* FOOTER */

footer {
    background-color: #add8dc;
    position: relative;
    width: 100%;
    height: 200px;
}

#sponsers {
    position: absolute;
    margin: -60px 0 0 0;
    top: 50%;
    left: 5%;
    height: 120px;
}

#adres {
    position: absolute;
    margin: -30px 0 0 0;
    top: 50%;
    height: 60px;
    right: 5%;
    background: url(img/Klankendaal.svg) no-repeat left;
    padding-left: 80px;
    font-size: 19px;
}

footer p {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #7d7e7e;
    padding-bottom: 15px;
    font-size: 20px;
    margin: 0;
}

footer ul {
    margin: 0;
}

footer ul li:nth-child(1) {
    background: url(img/Cera.svg) no-repeat;
}

footer ul li:nth-child(2) {
    background: url(img/Bozar.svg) no-repeat;
}

footer ul li:nth-child(3) {
    background: url("img/Piano's Maene.svg") no-repeat;
}

footer ul li {
    text-indent: -9999px;
    height: 70px;
    width: 100px;
    display: inline-block;
    background-position: center;
}

/* LOGIN FORM */

#logForm {
    display: block;
    padding: 50px 0px;
    width: 350px;
    background-color: #FFFFFF;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -175px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#logForm form input {
    display: block;
    margin: 10px auto 25px auto;
    padding: 10px;
    width: 150px;
    border-radius: .3em;
    border: 0;
    background-color: #F3F4F4;
    outline: none;
}

#logForm input[type=submit]{
    display: block;
    margin-top: 20px;
    border-radius: .5em;
    padding: 9px 3px;
    background-color: #92CDCF;
    color: #FFFFFF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 80px;
}

#logForm h1{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    text-align: center;
    background-image: url(img/login-icon.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

#logForm span.close{
    display: block;
    position: absolute;
    background-image: url(img/plus.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    left: 90%;
    top: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#layer {
    display: block;
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

::-webkit-input-placeholder {
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

:-ms-input-placeholder {  
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

#logForm input {
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

/* JQUERY */ 

.translate {
    top: -150% !important;
}

.rotate {
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bg {
    background-image: url(img/arrow-up.png) !important;
    background-repeat: no-repeat;
    background-size: 15px !important;
    background-position: center;
}

.hide {
    display: none !important;
}