body, html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Bariol";
    src: url("fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bariol_regular-webfont.woff") format("woff"),
    url("fonts/bariol_regular-webfont.ttf") format("truetype"),
    url("fonts/bariol_regular-webfont.svg") format("svg");
}

@font-face {
    font-family: "Bariol Bold";
    src: url("fonts/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bariol_bold-webfont.woff") format("woff"),
    url("fonts/bariol_bold-webfont.ttf") format("truetype"),
    url("fonts/bariol_bold-webfont.svg") format("svg");
}

body {
    background-color: #F3F4F4;
}

main {
    margin-top: 120px;
}

.overflow {
    overflow: hidden;
}

.closeMenu {
    display: none;
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* HEADER */

header nav {
    width: 100%;
    background-color: #FFFFFF;
    height: 75px;
    position: fixed;
    z-index: 9997;
    top: 0;
    border-bottom: 1px solid #92CDCF;
}

header > nav > a:not(.menu) { /* Logo */
    float: left;
    width: 90px;
    height: 75px;
    margin: 0 0 0 20px;
    background: url(img/MuzesLogo.svg) no-repeat center;
    text-indent: -9999px;
}

header nav h1 {
    margin: 0;
}

header nav > ul {
    float: right;
    height: 28px;
    margin: 23.5px 20px 0 0;
    position: relative;
}

header nav ul li {
    float: left;
    list-style-type: none;
}

header nav ul li:not(.noHover):hover {
    background-color: #92CDCF;
}

header nav ul li:not(.noHover):hover a {
    color: #FFFFFF;
}

header nav ul li a {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-decoration: none;
    color: #4F5461;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    transition: .2s all;
    display: block;
    padding: 5px 10px;
}

.login {
    color: #FFFFFF;
    margin-left: 5px;
}

header nav ul ul {
	display: none;
	padding: 0;
	position: absolute;
    top: 100%;
}

header nav ul li:not(.noHover):hover > ul { /* Submenu weergeven op hover */
    display: block;
}

header nav ul ul li {
    background-color: #92CDCF;
    float: none;
    position: relative;
}

header nav ul ul a {
    padding: 8px 10px;
}

header nav ul ul ul {
	position: absolute;
    left: 100%;
    top: 0;
}

/* MAIN */

section {
    display: block;
    width: 80%;
    margin: 20px auto;
    background-color: #FFFFFF;
    text-align: justify;
}

section > h2 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #a4a4a4;
    padding: 10px 0;
    margin: 0;
}

section header {
    border-top: 1px solid #92CDCF;
    background-color: #E7E9EA;
    text-align: center;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding: 15px 0;
}

section header h1 {
    color: #92CDCF;
    font-size: 1.5em;
    margin: 0;
}

section header h2 {
    color: #7e7e7e;
    font-size: 1em;
    margin: 0;
}

section p {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #4F5461;
    margin: 0 auto;
    width: 80%;
}

.button {
    display: inline-block;
    background-color: #92CDCF;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: .2em;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.button:hover {
    background-color: #81AAAA;
}

/* FOOTER */

#footer-wrapper {
    margin-top: 50px;
}

footer:first-of-type {
    background-color: #add8dc;
    height: 160px;
    padding: 30px;
    box-sizing: border-box;
}

footer:nth-of-type(2) {
    height: 40px;
    background-color: #7d7e7e;
}

footer div {
    float: left;
    width: 17%;
    margin: 0 calc(32% / 6);
}

footer div:nth-of-type(1) {
    margin-left: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

footer div:nth-of-type(4) {
    margin-right: 0;
    padding-right: 20px;
    box-sizing: border-box;
}

footer h1, footer p, footer a {
    font-family: Bariol, Calibri, Arial, sans-serif;
}

footer h1 {
    text-transform: uppercase;
    color: #61626f;
    font-size: 18px;
    margin: 0 0 15px 0;
}

footer a {
    color: #7d7e7e;
    font-size: 17px;
    text-decoration: none;
}

footer p {
    color: #7d7e7e;
    margin: 5px 0;
}

footer li {
    list-style-type: none;
    margin: 3px 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

/* BLIJF OP DE HOOGTE */

footer div:nth-of-type(3) h1 {
    width: 170px;
    text-align: center;
}

footer div:nth-of-type(3) a {
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 6.25px;
}

footer div:nth-of-type(3) a[href="https://fb.com/158298510974276"] {
    background: url(img/icons/facebook.svg) no-repeat center;
}

footer div:nth-of-type(3) a[href="https://twitter.com/muzesvzw"] {
    background: url(img/icons/twitter.svg) no-repeat center;
}

footer div:nth-of-type(3) a[href="https://www.linkedin.com/profile/view?id=353470483"] {
    background: url(img/icons/linkedin.svg) no-repeat center;
}

footer div:nth-of-type(3) a[href="http://plus.google.com"] {
    background: url(img/icons/googleplus.svg) no-repeat center;
}

/* MET DE STEUN VAN */

footer div:nth-of-type(4) a {
    text-indent: -9999px;
    height: 47px;
    float: left;
}

footer div:nth-of-type(4) a[href="http://www.cera.be"] {
    background: url(img/sponsor/cera.svg) no-repeat left;
    width: 47px;
    margin-right: 20px;
}

footer div:nth-of-type(4) a[href="http://www.bozar.be"] {
    background: url(img/sponsor/bozar.svg) no-repeat left;
    width: 60px;
}

footer div:nth-of-type(4) a[href="http://www.maene.be"] {
    background: url(img/sponsor/maene.svg) no-repeat left;
    width: 50px;
    margin-left: 15px;
}

/* SUBFOOTER */

footer:nth-of-type(2) p,
footer:nth-of-type(2) a {
    line-height: 40px;
    margin: 0;
    font-size: 15px;
    color: #dddddd;
}

footer:nth-of-type(2) p:nth-of-type(1) {
    margin: 0 20px 0 50px;
}

footer:nth-of-type(2) p:nth-of-type(1),
footer:nth-of-type(2) p:nth-of-type(2) {
    float: left;
}

footer:nth-of-type(2) a:nth-of-type(1),
footer:nth-of-type(2) a:nth-of-type(2) {
    float: right;
    margin: 0 20px 0 0;
}

/* LOGIN FORM */

#logForm {
    padding: 50px 0px;
    width: 350px;
    background-color: #FFFFFF;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -175px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#logForm form input {
    display: block;
    margin: 10px auto 25px auto;
    padding: 10px;
    width: 150px;
    border-radius: .3em;
    border: 0;
    background-color: #F3F4F4;
    outline: none;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

#logForm input[type=submit]{
    margin-top: 20px;
    border-radius: .5em;
    padding: 9px 3px;
    background-color: #92CDCF;
    color: #FFFFFF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 80px;
}

#logForm h1 {
    margin: 0 auto 20px auto;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background: url(img/login-icon.png) no-repeat center;
    background-size: 40px;
}

#logForm span.close{
    position: absolute;
    background: url(img/plus.png) no-repeat center;
    background-size: 13px;
    left: 90%;
    top: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#layer {
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

::-webkit-input-placeholder {
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

:-ms-input-placeholder {  
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 15px;
}

/* JQUERY */ 

.translate {
    top: -150% !important;
}

.rotate {
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bg {
    background: url(img/arrow-up.png) no-repeat center !important;
    background-size: 15px !important;
}

.hide {
    display: none !important;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    
    /* nav */
    
    header > nav > a:not(.menu) {
        display: block;
        float: none;
        margin: 0 auto !important;
        text-align: center;
    }
    
    .borderNull {
        border: 0;
    }
    
    header nav ul {
        display: block;
        position: inherit;
        z-index: 9999 !important;
        margin: 0;
        background-color: #FFFFFF;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        padding: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    
    .translateLeft {
        left: -100%;
    }
    
    .menuLayer {
        position: fixed !important;
        z-index: 9997 !important;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
    }
    
    header nav ul li {
        display: block;
        margin: 18px 0px;
        float: none;
    }
    
    header nav ul li a {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 80px;
        border-radius: .3em;
        border: 2px solid #92CDCF;
        color: #92CDCF;
        padding: 10px;
    }
    
    header nav ul li a:not(.noHover):hover {
        color: #92CDCF !important;
    }
    
    header nav ul li:not(.noHover):hover {
        background-color: white;
    }
    
    header nav ul li:not(.noHover):hover a {
        color: #92CDCF;
    }
    
    #login {
        display: block;
        margin: auto;
    }
    
    .top {
        margin-top: 40px;
    }
    
    .closeMenu {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        background: url(img/plus.png) no-repeat center;
        background-size: 18px;
        position: absolute;
        right: 2%;
        top: 2%;
        -webkit-transition: all .2s;
        transition: all .2s;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        display: inherit;
    }
    
    .arrowMenu {
        background: url(img/arrow-down.png) no-repeat center;
        background-size: 18px;
    }
    
    .menu {
        display: block !important;
        position: absolute;
        cursor: pointer;
        left: 11px;
        top: 10px;
        width: 50px;
        height: 50px;
        background: url(img/menu.png) no-repeat center;
        background-size: 22px;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    
    .overflow {
        overflow: hidden !important;
        overflow-y: hidden !important;
        position: fixed;
    }
    
    .trans {
        top: -150% !important;
    }

    .arrow {
        background: url(img/arrow-up-white.png) no-repeat center !important;
        background-size: 15px !important;
    }

    .opacity {
        opacity: 1 !important;
    }

    .bgScale {
        background: url(img/camera.png) no-repeat center;
        background-size: 20px !important;
    }
}