main header {
    margin-bottom: 20px;
}

section div {
    width: 95%;
    margin: 0 auto;
}

section a {
	width: 200px;
    height: 200px;
	margin: 20px;
	padding: 0px;
    text-decoration: none;
    float: left;
}

section img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    section a {
        display: block;
        margin: 10px auto;
        float: none;
    }
}