section:not(.header) > div {
    float: left;
    padding: 40px;
}

section {
    margin: 30px auto;
    width: 65%;
}

/* HEADER */

section:first-of-type img {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 40px 0 40px 40px;
}

section:first-of-type div {
    float: left;
    box-sizing: border-box;
    padding: 40px;
    width: 75%;
}

section.header p {
    margin: 0 0 20px 0;
    width: 100%;
}

/* LINKERDEEL */

section:not(.header) > div:first-of-type {
    width: 25%;
    box-sizing: border-box;
}

section div:first-of-type a.button {
    width: 100%;
}

section:not(.header) div:first-of-type p {
    margin: 20px 0;
    width: 100%;
}

section div:first-of-type img {
    width: 100%;
}

/* RECHTERDEEL */

section div:nth-of-type(2) {
    width: 75%;
    box-sizing: border-box;
}

section div:nth-of-type(2) h2 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #61626f;
    padding-bottom: 15px;
    margin: 0;
}

section div:nth-of-type(2) h3 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #61626f;
    padding-bottom: 5px;
    margin: 0;
}

section div:nth-of-type(2) h4 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #808292;
    padding: 8px 0 5px 0;
    margin: 0;
}

section div:nth-of-type(2) div {
    width: 100%;
}

section div:nth-of-type(2) p {
    margin: 0;
    padding: 0 0 15px 0;
    width: 100%;
}

section div:nth-of-type(2) li {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #4F5461;
}

section div:nth-of-type(2) ul {
    margin: 0 0 15px 0;
}

section div:nth-of-type(2) a:not(.button),
section.header div a {
    color: #4F5461;
}

/* CONCERT */

section:nth-of-type(5) div.concert h4 {
    padding-top: 20px;
}

section:nth-of-type(6) div.concert {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 40px 20px;
}

section:nth-of-type(5) div.concert a.button {
    box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {
    
    section {
        margin: 30px auto;
        width: 85%;
    }
    
    section:not(.header) > div {
        float: none;
        padding: 30px;
    }
    
    /* HEADER */
    
    section:first-of-type img {
        height: 50vh;
        width: auto;
        box-sizing: border-box;
        padding: 40px 0;
        margin: 0 auto;
        display: block;
        float: none;
    }

    section:first-of-type div {
        box-sizing: border-box;
        padding: 40px;
        margin: 0 auto;
        width: 100%;
        float: none;
    }
    
    section.header p {
        margin: 0 0 20px 0;
        width: 100%;
    }
    
    section.header p:last-of-type {
        margin: 0;
        width: 100%;
    }
    
    /* LINKERDEEL */

    section:not(.header) > div:first-of-type {
        width: 90%;
        box-sizing: border-box;
        float: none;
        margin: 20px auto;
    }
    
    section:not(.header) div:first-of-type p {
        margin: 15px 0;
    }
    
    /* RECHTERDEEL */
    
    section div:nth-of-type(2) {
        width: 90%;
        box-sizing: border-box;
        margin: 0 auto;
        float: none;
        padding-top: 0;
    }
    
    section div:nth-of-type(2) p {
        padding: 0 0 5px 0;
        width: 100%;
    }
    
    section div:nth-of-type(2) h3 {
        padding: 0;
        margin: 0;
    }
    
    section:not(.header) div:nth-of-type(2) p {
        margin: 5px 0;
    }
    
    /* CONCERT */
    
    section:nth-of-type(6) div.concert {
        width: 100%;
        float: none;
        box-sizing: border-box;
        padding: 0 0 30px 0;
    }
}