section > div {
    float: left;
    padding: 30px;
}

section {
    margin: 30px auto;
}

/* HEADER */

section:first-of-type img {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
}

section:first-of-type div {
    float: left;
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
}

/* LINKERDEEL */

section:not(.header) div:first-of-type {
    width: 20%;
    box-sizing: border-box;
}

section div:first-of-type a.button {
    width: 100%;
}

section div:first-of-type p {
    margin: 20px 0;
    width: 100%;
}

section div:first-of-type img {
    width: 100%;
}

/* RECHTERDEEL */

section div:nth-of-type(2) {
    width: 80%;
    box-sizing: border-box;
}

section div:nth-of-type(2) h2 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-transform: uppercase;
    color: #61626f;
    padding-bottom: 15px;
    margin: 0;
}

section div:nth-of-type(2) h3 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #61626f;
    padding-bottom: 5px;
    margin: 0;
}

section div:nth-of-type(2) h4 {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #808292;
    padding: 8px 0 5px 0;
    margin: 0;
}

section div:nth-of-type(2) div {
    width: 100%;
}

section div:nth-of-type(2) p {
    margin: 0;
    padding: 0 0 15px 0;
    width: 100%;
}

section div:nth-of-type(2) li {
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #4F5461;
}

section div:nth-of-type(2) ul {
    margin: 0 0 15px 0;
}

section div:nth-of-type(2) a:not(.button) {
    color: #4F5461;
}

/* CONCERT */

section:nth-of-type(5) div.concert h4 {
    padding-top: 20px;
}

section:nth-of-type(6) div.concert {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    height: 360px;
    position: relative;
}

section:nth-of-type(5) div.concert a.button {
    position: absolute;
    bottom: 20px;
    box-sizing: border-box;
    width: calc(100% - 40px);
}