nav {
    position: fixed !important;
    top: 0;
    z-index: 9997;
}

#sideBar {
    display: block;
    margin-top: 0px;
    margin: 0 !important;
    height: 100%;
    width: 30%;
    z-index: 9996;
    position: fixed;
    background-color: #EDEEEE;
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

#sideBar img {
    display: block;
    margin: 0 auto;
    width: 110px;
    margin-top: 115px;
    margin-bottom: 10px;
    border: 6px solid #F4E7B9;
    border-radius: 50%;
}

#sideBar span {
    display: block;
    padding: 55px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 121.2px;
    left: 50%;
    margin-left: -55px;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(img/camera.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 10px;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    opacity: 0;
    
}

#file {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50% !important;
    background-color: black;
    position: absolute;
    top: 121px;
    left: 50%;
    margin-left: -55px;
    opacity: 0 !important;
}

#sideBar div h1 {
    display: block;
    margin-bottom: 3px;
    font-family: "bariol bold";
    font-size: 1.4em;
    text-align: center;
    color: #4E4F58;
}

#sideBar div h2 {
    display: block;
    padding-bottom: 40px;
    font-family: bariol;
    font-size: .8em;
    text-align: center;
    color: #4E4F58;
    border-bottom: 1px solid #D6D7D8;
}

#sideBar div ul {
    display: block;
    width: 215px;
    margin-left: 0px;
    margin-top: 40px;
    list-style-type: none;
    font-family: bariol;
    color: #4E4F58;
}

#sideBar div ul li {
    display: block;
    margin: 15px 0px;
    padding-left: 30px;
}

#sideBar div ul li:nth-child(1) {
    background-image: url(img/house.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 16px;
}

#sideBar div ul li:nth-child(2) {
    background-image: url(img/palette.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 16px;
}

#sideBar div ul li:nth-child(3) {
    background-image: url(img/graduation.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 16px;
}

#sideBar div ul li:nth-child(4) {
    background-image: url(img/earth.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 16px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
}

#sideBar div ul li:nth-child(4):hover {
    color: #92CDCF;
}


#sideBar div a {
    display: block;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 5%;
    padding-top: 35px;
    text-decoration: none;
    text-align: center;
    font-family: bariol;
    font-size: .8em;
    color: #91CBCD;
    background-image: url(img/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#sideBar div a:hover {
    color: #89C0C2;
}

#changeForm {
    display: block;
    width: 70%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #E6E7E7;
    z-index: 9995;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#changeForm .closeChange {
    display: block;
    position: absolute;
    background-image: url(img/closeChange.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    right: 2%;
    top: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#myStream {
    display: block;
    width: 70%;
    float: right;
    margin: 0;
    background-color: #F3F4F4;
    z-index: 9994;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    padding-bottom: 1000px;
    background-image: url(img/dashed_line.png);
    background-repeat: repeat-y;
    background-size: 2px;
    background-position: 50%;
}

#myStream article {
    display: block;
    width: 50%;
    margin-top: 110px;
}

#myStream article:nth-child(even) {
    float: right;
}

#myStream article div {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 140px;
    background-color: #FFFFFF;
}

#myStream article:nth-child(2) div {
    height: 220px;
}

.postDiv {
    background-color: #E7E8E9 !important;
}

#myStream article span {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #90CACC;
    padding: px 0px;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}


#myStream article div textarea {
    display: block;
    width: 100%;
    resize: none;
    border: 0px;
    outline: none;
    font-family: bariol;
    font-size: 1em;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#myStream article div textarea:nth-child(1) {
    height: 30px;
    float: left;
}

#myStream article div textarea:nth-child(2) {
    border-top: 1px dashed #D3D4D6; 
    height: 60px;
    float: left;
}

#myStream article div input {
    display: block;
    border: 0;
    background-color: #C2D8DA;
    color: #FFFFFF;
    font-family: bariol;
    font-size: .9em;
    border-radius: .3em;
    margin: 11px 15px;
    padding: 5px 15px;
    float: right;
    outline: none;
}

#myStream article div ul {
    display: block;
    list-style: none;
    width: auto; !important;
    margin: 0px;
    float: left;
    margin-left: 10px;
    padding: 15px 0px;
}

#myStream article div #ulPost li {
    display: inline-block;
    margin: 0px 5px;
    padding: 7px 16px;
    border-radius: 50%;
    background-color: #C2D8DA;
}

#myStream article div #ulPost li:nth-child(1) {
    display: inline;
    background-image: url(img/attachment.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    
}

#myStream article div #ulPost li:nth-child(2) {
    display: inline;
    background-image: url(img/camera.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    
}

#myStream article div #ulPost li:nth-child(3) {
    display: inline;
    background-image: url(img/play.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    
}

#myStream article div p {
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    font-family: bariol;
    font-size: .9em;
    color: #505562;
}

#myStream article div a {
    display: block;
    margin: 0 auto;
    background-color: #E7E8E9;
    padding: 5px 10px;
    text-decoration: none;
    font-family: bariol;
    color: #505562;
}

#myStream article div h1 {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: bariol;
    color: #91CBCD;
}

#myStream article div h2 {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: bariol;
    font-size: .7em;
    color: #D3D4D6;
}

#myStream article div ul li {
    display: inline-block;
    margin: 0px 5px;
    padding: 16px;
    border-radius: 50%;
    background-color: #D4EAEC;
}

#myStream article div ul li:nth-child(1) {
    background-image: url(img/thumbsup.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

#myStream article div ul li:nth-child(2) {
    background: none;
    border-radius: 0%;
    margin: 0px;
    padding: 16px;
    font-family: bariol;
    color: #91CBCD;
}

#myStream article div ul li:nth-child(3) {
    background-image: url(img/bubble.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

#myStream article div ul li:nth-child(4) {
    background: none;
    border-radius: 0%;
    margin: 0px;
    padding: 0px;
    font-family: bariol;
    color: #91CBCD;
}



/* jquery */

.trans {
    top: -150% !important;
}

.arrow {
    background-image: url(img/arrow-up-white.png) !important;
    background-repeat: no-repeat;
    background-size: 15px !important;
    background-position: center;
}

.opacity {
    opacity: 1 !important;
}

.bgScale {
    background-image: url(img/camera.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 20px !important;
}

/* icomoon */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1c3t6n');
	src:url('fonts/icomoon.eot?#iefix1c3t6n') format('embedded-opentype'),
		url('fonts/icomoon.woff?1c3t6n') format('woff'),
		url('fonts/icomoon.ttf?1c3t6n') format('truetype'),
		url('fonts/icomoon.svg?1c3t6n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e601";
}