#titel {
    color: #92CDCF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding-top: 1em;
    text-align: center;
    background-color: transparent;
    font-size: 2em;
}
section p {
    font-family: Source Sans Pro, Calibri, Arial, sans-serif;
    margin: 1em auto;
    width: 80%;
}
#projectpics {
    width: 100%;
}
section {
    width: 50%;
    padding-bottom: 1em;
}
#community {
    width: 7.8em;
    display: block;
    margin: 1.5em auto;
}
section header {
    margin-bottom: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    section {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    section {
        width: 70%;
    }
    section p {
        width: 85%;
    }
}

@media (max-width: 900px) {
    section {
        width: 80%;
    }
    section p {
        width: 90%;
    }
}

@media (max-width: 700px) {
    section {
        width: 90%;
    }
    
    section p {
        width: 95%;
    }
}