#titel {
    color: #92CDCF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    text-align: center;
    background-color: transparent;
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}
section p {
    font-family: Source Sans Pro, Calibri, Arial, sans-serif;
    margin: 1em auto;
    width: 80%;
}
#projectpics {
    width: 100%;
}
section {
    width: 50%;
    padding-bottom: 1em;
}
#community {
    width: 7.8em;
    display: inline-block;
    margin: 1em;
}
.knoppen{
    text-align: center;
}
section header {
    margin-bottom: 0;
}

#login {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    background: url(img/teacher2.png) center no-repeat;
    background-size: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    border: 4px solid #FFF1C0;
}

#login:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: none !important;
}

.links {
    color: #4F5461;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    section {
        width: 60%;
    }
}
@media (max-width: 1024px) {
    section {
        width: 70%;
    }
    section p {
        width: 85%;
    }
}
@media (max-width: 900px) {
    section {
        width: 80%;
    }
    section p {
        width: 90%;
    }
}
@media only screen and (max-width: 750px) {
    section {
        width: 95%;
    }
    section p {
        width: 95%;
    }
    h1 {
      font-size: 1em;  
    }
}