section {
    padding: 30px;
}

fieldset {
    border: none;
}

/* FORM */

form > fieldset:first-of-type {
    margin-bottom: 30px;
}

form > fieldset > div {
    float: left;
    box-sizing: border-box;
}

form > fieldset > div:first-child {
    width: 30%;
}

form > fieldset > div:nth-child(2) {
    width: 70%;
}

label {
    color: #636363;
    font-size: 20px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    float: left;
}

input {
    outline: none;
    resize: none;
    overflow: auto;
    float: left;
    border: none;
    padding: 10px !important;
}

#opslaan {
    display: block;
    width: 50px;
    margin: 0 auto;
}

#blok-links {
	width: 70%;
	float: left;
}

form:first-of-type input {
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f4f5f5;
    
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    text-shadow: none;
    color: #7e7e7e;
}

div:not(#profiel-foto) input, div:not(#profiel-foto) label {
    height: 35px;
    line-height: 35px;
}

input[type="submit"] {
    overflow: hidden;
    padding: 0 10px;
    min-width: 120px;
    width: 10vw;
	clear: left;
	margin-top: 50px;
    line-height: normal !important;
}

/* PROFIELFOTO */

#profiel-foto {
	width: 30%;
	float: left;
}

#profiel-foto h1 {
    display: block;
    font-family: "bariol bold";
    font-size: 1.4em;
    text-align: center;
    color: #4E4F58;
}

#profiel-foto img {
    display: block;
    margin: 0 auto 10px auto;
    width: 110px;
    border-radius: 50%;
    border: 6px solid #F4E7B9;
}

.opacity {
    opacity: 1 !important;
}

#profiel-voornaam, #profiel-naam, #profiel-mail, #profiel-stad, #profiel-postcode, #profiel-website, input[type="submit"] {
    clear: right;
}

#profiel-voornaam {
    width: 47%;
    margin-right: 7.5px;
}

#profiel-naam {
    width: 47%;
    margin-left: 7.5px;
}

#profiel-stad {
    width: 62%;
	margin-top: 2%;
}

#profiel-postcode {
    width: 32%;
    margin-left: 15px;
	margin-top: 2%;
}

#profiel-mail {
    width: calc(94% + 15px);
	margin-top: 2%;	
}

#profiel-website{
    width: calc(94% + 15px);
	margin-top: 2%;	
}

::-webkit-input-placeholder {
    font-size: 17px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 17px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 17px;
}

:-ms-input-placeholder {  
    font-size: 17px;
}

/* GEGEVENSBLOKKEN */

.gegevensblok {
	width: 45%;
	float: left;
}

 .gegevensblok div {
    color: #636363;
    font-size: 16px;
    width: 50%;
     height: auto;
    font-family: Bariol, Calibri, Arial, sans-serif;
    clear: both;
    margin-left: 5%;
 }

.gegevensblok > label {
    font-weight: 600;
    font-size: 18px;
}

.gegevensblok > div > label {
    font-size: 17px;
    padding-left: 5px;
}

.gegevensblok input[type="checkbox"], .gegevensblok > div > label {
	float: left;
    margin: 0;
}

@media screen and (max-width: 800px) {
    /* FORM */
    #aanpassen {
        width: 100%;
    }
    
	#aanpassen form > div {
		width:90%;
		padding:0 5% 0 5%;
	}
    
	#blok-links{
        width:100%;
        clear:both;
    }
    
	#profiel-foto{
		float:none;
		margin: 1% auto;
	}
    
    #aanpassen form > div > div {
        float: none;
        min-height: inherit;
    }
    
    #aanpassen form > div:first-child {
    padding-top: 0;
}

    #aanpassen form > div > div:first-child {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    #aanpassen form > div > div:nth-child(2) {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    #aanpassen label {
        float: none;
        margin-left: 0;
    }

    #aanpassen input, textarea {
        outline: none;
        resize: none;
        overflow: auto;
        float: left;
        border: none;
    }
    
    #aanpassen input[type="text"], input[type="email"], textarea {
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f4f5f5;
    
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    text-shadow: none;
    color: #7e7e7e;
    }
    
    .profiel-foto{
        float:right;
    }
    
    #aanpassen textarea {
        height: 150px;
    }

    #aanpassen input[type="submit"] {
        overflow: hidden;
        min-width: inherit;
        width: 100%;
    }

    #profiel-voornaam {
        width: calc(50% - 7.5px);
        margin-right: 7.5px;
    }

    #profiel-naam {
        width: calc(50% - 7.5px);
        margin-left: 7.5px;
    }
	
	#profiel-stad {
        width: calc(70% - 7.5px);
		margin-top:15px;
    }

    #profiel-mail {
        width: 100%;
    }
	#profiel-website {
        width:100%
    }
    
 	#profiel-postcode {
        width: calc(30% - 7.5px);
		margin-top:15px;
    }
    #profiel-mail, input[type="submit"] {
        margin-top: 15px;
    }
	#profiel-website, input[type="submit"] {
        margin-top: 15px;
    }
	#profiel-foto{
		margin-top:10%;
		width:100%
		
	}
}

@media screen and (max-width: 500px) {
	main section{
		width: 95%;
	}
	#profiel-foto{
		width:100%;
		
	}
}