/* FORM */

form {
    float: left;
    width: 59%;
    margin: 30px;
    box-sizing: border-box;
}

form > div > label, form > div > input, form > div > div, form > div > select, form > div > textarea {
    float: left;
    width: 50%;
}

form p {
    color: #7e7e7e;
    font-size: 15px;
    margin: 0;
}

label {
    color: #636363;
    font-size: 20px;
    font-family: Bariol, Calibri, Arial, sans-serif;
    display: block;
    height: auto;
    line-height: 35px;
    text-align: left;
}

form > div > label, form > div > div {
    margin: 15px 0;
}

label[for="inschrijven-mail"], label[for="inschrijven-vakcollegas"] {
    margin-bottom: 0;
}

input, select, textarea {
    outline: none;
    resize: none;
    overflow: auto;
    border: none;
    display: block;
}

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    border-radius: 5px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #f4f5f5;
    
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 17px;
    text-shadow: none;
    color: #7e7e7e;
    
    margin: 15px 0;
    height: 35px;
}

select {
    padding: 0 0 0 5px;
}

textarea {
    height: 140px;
}

::-webkit-input-placeholder {
    font-size: 17px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 17px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 17px;
}

:-ms-input-placeholder {  
    font-size: 17px;
}

/* BOX */

.box-wrapper {
    float: right;
    width: 30%;
    box-sizing: border-box;
}

section.box {
    clear: right;
    width: 100%;
    padding: 20px;
    margin: 30px 30px 30px -30px;
    background-color: #f4f5f5;
    text-align: justify;
    border-radius: 10px;
    box-sizing: border-box;
}

section.box header {
    border: none;
    padding: 0 0 15px 0;
    background: none;
    text-align: justify;
    font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
    box-sizing: border-box;
}

section.box header h1 {
    text-transform: uppercase;
    font-weight: 700;
}

section.box header p {
    font-family: "Source Sans Pro Light", Calibri, Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

section.box > div {
    box-sizing: border-box;
    margin: 11px 0;
}

section.box > div > div {
    width: 50%;
    float: left;
}

section.box > div > div p {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

section.box > img {
    width: 100%;
}

/* GEGEVENS MEERDERE PERSONEN */

.gegevens:not(.nomargin) {
    margin-bottom: 40px;
}

.gegevens p, .gegevens div, .gegevens div input {
    float: left;
}

.gegevens p {
    width: 10%;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 27px;
    text-align: left;
    padding-left: 5px;
    box-sizing: border-box;
}

.gegevens div {
    width: 90%;
}

.nomargin div {
    width: 100%;
}

#gegevens-voornaam {
    margin: 0 2% 2% 0;
}

#gegevens-naam {
    clear: right;
    margin: 0 0 2% 2%;
}

#gegevens-mail, #gegevens-tel {
    width: 100%;
    margin: 2% 0 0 0;
}

#gegevens-voornaam, #gegevens-naam {
    width: 48%;
}

#gegevens-wrapper a.button{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

/* CHECKBOXES */

.checkbox {
    margin: 20px 0;
}

.checkbox input[type="checkbox"], .checkbox label {
    float: left;
    width: auto;
    height: auto;
    line-height: normal;
}

.checkbox input[type="checkbox"] {
    margin: 0 10px 0 0;
}

.checkbox label {
    width: 100%;
    margin: 0 0 15px 30px;
}

/* SUBMIT */

input[type="submit"] {
    min-width: 120px;
    width: 10vw;
    float: left;
    margin: 0 0 30px 30px;
}

@media only screen and (max-width: 1250px) {
    section.box > div > div {
        width: 100%;
        float: none;
        padding: 5px 0
    }
}

@media only screen and (max-width: 1040px) {
    form {
        float: none;
        width: calc(100% - 60px);
    }
    
    .box-wrapper {
        float: none;
        width: 100%;
        box-sizing: border-box;
    }

    section.box {
        float: left;
        width: calc(50% - 45px);
        padding: 20px;
        box-sizing: border-box;
        height: 360px;
    }
    
    section.box.fullwidth {
        float: none;
        width: calc(100% - 60px);
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
    
    section.box.fullwidth > div > div {
        width: 50%;
        float: left;
        padding: 0;
    }
    
    section.box:first-of-type {
        margin: 30px 30px 30px 30px;
    }
    
    section.box:nth-of-type(2) {
        margin: 30px 30px 30px 0;
    }
    
    .checkbox label {
        width: calc(100% - 60px);
        margin: 0 0 15px 30px;
    }
}

@media only screen and (max-width: 750px) {
    section.box {
        float: none;
        width: calc(100% - 60px);
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
    
    section.box:first-of-type {
        margin: 30px;
    }
    
    section.box:nth-of-type(2) {
        margin: 30px;
    }
}

@media only screen and (max-width: 530px) {
    form > div > label, form > div > input, form > div > div, form > div > select, form > div > textarea {
        float: none;
        width: 100%;
    }
    
    input[type="submit"] {
        width: calc(100% - 60px);
        float: none;
    }
}