main{
    min-height: 62.2vh;
}

section{
    max-width: 900px;
}
section p{
    font-family: "Source Sans Pro", Calibri, Arial, sans-serif;
}
section p:first-of-type {
    padding: 30px 0 10px 0;
}

section p:last-of-type {
    padding: 10px 0 30px 0;
}
#footer-wrapper{
    overflow: hidden;
}

#totop {
    font-size: 1em;
    position: fixed;
    bottom: 0;
    left: 50%;
    float: right;
    margin-right: 3%;
    background-color: rgba(146, 205, 207, .9);
    width: 150px;
    margin-left: -75px;
    padding: 1em;
    cursor: pointer;
}



#login {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    background: url(../img/teacher2.png) center no-repeat;
    background-size: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    border: 4px solid #FFF1C0;
}

#login:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: none !important;
}

.noHover:hover {
    background-color: white;
}


/* breadcrumbs */
.breadcrumb{
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0 auto 1em;
    padding: .75em 0;
    background-color: #E7E9EA;
}
.breadcrumb ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.breadcrumb ul li{
    display: inline-block;
    margin: 0;
    padding-right: 0.4em;
}
.breadcrumb a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    transition: .2s all;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    color: #92CDCF;
}

/* NAVIGATIE LIJSTEN */
.navlist nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.navlist nav a{
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    display: block;
    padding: .75em 10% .75em 10%;
    border-bottom: 1px dashed #E0E1E2;
    color: #7d7e7e;
    text-decoration: none;
}
.navlist nav a:last-of-type{
    border-bottom: 0 solid #000;
}
.navlist nav a:last-of-type:hover{
    border-bottom: 1px solid #92CDCF;
}
.navlist nav a:hover, .navlist nav a:focus{
    background: #92CDCF;
    color: #FFF;
}

.afbeeldingcontainer{
    position: relative;
    margin-bottom: 12em;
}
.navlist a span{
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 12em;
    width: 100%;
    position: absolute;
    top: 16em;
    left: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../img/databank/databank.jpg);
}
.navlist a:hover span#lesmateriaalimg{
    z-index: 2;
    background-color: #fff;
    background-image: url(../img/databank/lesmateriaal.jpg);
}
.navlist a:hover span#bibimg{
    z-index: 2;
    background-image: url(../img/databank/bib.jpg);
}
.navlist a:hover span#videoimg{
    z-index: 2;
    background-image: url(../img/databank/videos.jpg);
}
.navlist a:hover span#cultuurimg{
    z-index: 2;
    background-image: url(../img/databank/cultuur.jpg);
}
.navlist a:hover span#lijstimg{
    z-index: 2;
    background-image: url(../img/databank/begrippenlijst.jpg);
}
.navlist a:hover span#sitesimg{
    z-index: 2;
    background-image: url(../img/databank/sites.jpg);
}


/* TABLE */
.leerplannav{
    width: 100%;
    margin: 0;
    padding: 2em 0 1em;
}
.leerplannav ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.leerplannav a{
    display: inline-block;
    line-height: 2.5em;
    width: 30%;
    max-width: 250px;
    margin: 5px;
    text-align: center;
    
    text-decoration: none;
    color: #000;
    font-family: Bariol, Calibri, Arial, sans-serif;
    background: #E0E1E2;
}
.leerplannav a:hover, .leerplannav a:focus{
    background: #92CDCF;
}
h2{
    width: 80%;
    padding: 20px 0 0 0;
}
caption h2{
    padding-top: 4em;
}
table{
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #000;
    border-collapse: collapse;
    border: 2px solid #92CDCF;
    width: 95%;
    margin: .5em auto 1.5em;
}
table th{
    width: 5em;
    background-color: #92CDCF;
    text-align: center;
    border: 1px solid #fff;
    color: #000;
    padding: 1em 0;
}
table td{
    border: 1px solid #92CDCF;
    text-align: left;
    line-height: 1.5em;
    transition: background 2s;
}
table td:hover{
    background: #92CDCF;
}
table ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
table ul li{
    width: 100%;
    text-align: left;
    border-bottom: 1px dashed #E0E1E2;
    margin: 0;
}
table ul li:last-of-type{
    border-bottom: 1px dashed rgba(0,0,0,0);;
}
table a{
    display: block;
    margin: 0;
    border: 0;
    padding: .5em 1em;
    text-decoration: none;
    color: #000;
    background-color: rgba(0,0,0,0);
}
table a:hover, table a:focus{
    background: #fff;
    color: #000;
}
.terugtop a{
    opacity: .4;
    display: block;
    background: #E0E1E2;
    color: #000;
    text-decoration: none;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 1.2em;
    margin: 0 auto 1em;
    width: 20%;
    padding: .5em 1em;
    border-radius: .5em;
    text-align: center;
    transition: background .2s, opacity .2s;
}
.terugtop a:hover, .terugtop a:focus{
    background: #92CDCF;
    opacity: 1;
}
div#top{
    position: absolute;
    top: -300px;
}

/* page layout sidenav and datacontent */
.bgcolor{
    background: #92CDCF;
}

.sidenav header{
    margin: 0;
    padding: 0;
}
.sidenav header h1{
    display: block;
    color: #fff;
    background-color: #6C9899;
    text-align: center;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding: 15px 0px;
}
.sidenav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidenav a{
    background: rgba(0,0,0,0);
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dashed #E0E1E2;
}
.sidenav a:hover, .sidenav a:focus{
    background: #fff;
    color: #000;
}
.sidenav a.current{
    background: #E7E9EA;
    color: #000;
}
.sidenav a.current:hover, .sidenav a.current:focus{
    color: #92CDCF;
}
.datacontent{
    margin-left: 200px;
    background: #fff;
}
.datacontent ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 12.5em;
}
.datacontent li{
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px dashed #E0E1E2;
}
.datacontent li:hover{
    border-bottom: 1px solid #92CDCF;
}
.datacontent a{
    font-family: Bariol, Calibri, Arial, sans-serif;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #000;
    text-align: left;
}
.datacontent a:hover, .datacontent a:focus{
    background: #92CDCF;
}
.datacontent li img{
    float: left;
    max-width: 64px;
    min-width: 30px;
    margin: .75em;
}
.datacontent li h3{
    margin: 2em 5em 1em;
    padding: 0;
}
.datacontent li p{
    width: 90%;
    margin: 0 5% 0 5%;
    text-align: justify;
}
.column{
    display: inline-block;
    width: 49.8%;
    float: left;
    background: #fff;
    margin: 0 auto;
}
.column:last-of-type{
    border-left: 1px dashed #E0E1E2;
}
h2{
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #000;
    font-size: 20px;
    margin: 1em 1em .25em;
    padding: 0;
}
section iframe{
    width: 90%;
    margin: 0 5%;
    min-height: 40em;
}
.boeken li a img{
    min-width: 10em;
    max-width: 15em;
    margin: 0 1em;
}
.tijdschriftbanner{
    min-width: 100px;
    max-width: 200px;
    margin: 0 3em;
}





/* Media queries */

@media only screen and (min-width: 750px){
    
    
    
    /*Eindtermen en leerplannen*/
    #eindtermenenuitgangspunten{
        width: 80%;
        max-width: 900px;
        margin: 50px auto;
        padding: 0;
    }
    #eindtermenenuitgangspunten .kolom{
        width: 48%;
        margin: 0;
        display: inline-block;
    }
    #eindtermenenuitgangspunten .kolom:first-of-type{
        margin-right: 4%;
        float: left;
    }
    #eindtermenenuitgangspunten .kolom:last-of-type{
        clear: both;
    }
    
    /* leerplannen tabel */
    .mobile-title{
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
    }
    
    /* sidenav */
    .sidenav{
        margin: 0;
        padding: 0;
        width: 200px;
        float: left;
        background-color: #92CDCF;
    }
}




@media only screen and (max-width: 750px){
    
    section{
        width: 95%;
        margin: inherit auto;
    }
    
    /*databankpagina*/
    .navlist a span{
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    div#spanblok{
        height: 0;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    
    /*leerplannen navigatie*/
    .leerplannav{
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }
    .leerplannav ul{
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .leerplannav a{
        display: block;
        width: 85%;
        margin: .5em auto;
        background: #92CDCF;
    }
    
    
    /* leerplannen tabel */
    table{
        border-collapse: collapse;
        border: 2px solid #92CDCF;
        width: 95%;
        margin: .5em 2.5% 1.5em;
    }
    table tr{
        display: block;
    }
    table tr:first-of-type{
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
    }
    table td{
        width: 100%;
        margin: 0;
        border: 1px solid #92CDCF;
        background: #fff;
    }
    .mobile-title{
        display: block;
        width: 100%;
        margin: 1.25em 0 .75em;
        text-align: center;
        padding: .2em 0;
        border: 1px solid #92CDCF;
        background: #E0E1E2;
    }
    table tr th, table tr td{
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
    }
    table tr th{
        text-align: center;
        border: 1px solid rgba(0,0,0,0);
        font-size: 20px;
        width: 100%;
        padding: .5em 0;
    }
    table tr th:first-of-type{
        margin-top: 0;
    }
    table td:hover{
        background: #fff;
    }
    table ul{
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: 0;
    }
    table ul li{
        min-width: 200px;
        width: 50%;
        text-align: center;
        margin: .85em auto;
        background: #E0E1E2;
    }
    table ul li:last-of-type{
        margin-bottom: 3em;
    }
    table a{
        display: block;
        margin: 0;
        border: 0;
        padding: .5em 1em;
        text-decoration: none;
        color: #000;
        background-color: rgba(0,0,0,0);
    }
    
    
    /* sidenav en datacontent paginas */
    .bgcolor{
        background: rgba(0,0,0,0);
    }
    .mobile-bgcolor{
        background: #92CDCF;
    }
    .sidenav{
        display: block;
        width: 100%;
        background: #92CDCF;
    }
    .sidenav a{
        text-align: center;
        color: #000;
    }
    .datacontent{
        display: block;
        margin: 1.75em 0;
        padding: 0;
        min-height: 8em;
    }
    .datacontent li a{
        padding: 1.5em 2em;
    }
    .datacontent ul{
        min-height: 1em;
    }
    .column{
        width: 100%;
        float: none;
        background: #fff;
    }
    section iframe{
        width: 90%;
        margin: 0 5%;
        min-height: 40em;
    }
    .boeken li a img{
        min-width: 10em;
        max-width: 15em;
        margin: 0 1em;
    }
    .tijdschriftbanner{
        min-width: 100px;
        max-width: 200px;
        margin: 0 3em;
    }
}




@media (max-width: 1280px) {
    section {
        width: 60%;
    }
}
@media (max-width: 1024px) {
    section {
        width: 70%;
    }
    section p {
        width: 85%;
    }
}
@media (max-width: 900px) {
    section {
        width: 80%;
    }
    section p {
        width: 90%;
    }
}
@media only screen and (max-width: 750px) {
    section {
        width: 95%;
    }
    section p {
        width: 95%;
    }
    h1 {
      font-size: 1em;  
    }
    .closeMenu {
        background: url(../../img/close-white.png) no-repeat center;
        background-size: 18px;
    }
    .arrowMenu {
        background: url(../../img/arrow-left-white.png) no-repeat center;
        background-size: 18px;
    }
    .menu {
        background-image: url(../../img/menu.png);
    }
    .arrow {
        background-image: url(../../img/arrow-up-white.png) !important;
    }
    .bgScale {
        background-image: url(../../img/camera.png);
    }
}