.break{
    height: 100px;
}
section p:first-of-type {
    padding: 30px 0 10px 0;
}

section p:last-of-type {
    padding: 10px 0 30px 0;
}

/* breadcrumbs */
.breadcrumb{
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding: .75em 0;
    background-color: #E7E9EA;
}
.breadcrumb ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.breadcrumb ul li{
    display: inline-block;
    margin: 0;
    padding-right: 0.4em;
}
.breadcrumb a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    transition: .2s all;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    color: #92CDCF;
}

/* MAIN */
.databankwrapper{
    max-width: 50%;
    margin: auto;
}
#eindtermenenuitgangspunten{
    width: 80%;
    margin: 50px 10%;
    padding: 0;
}
#eindtermenenuitgangspunten .kolom{
    width: 48%;
    margin: 0;
    display: inline-block;
}
#eindtermenenuitgangspunten .kolom:first-of-type{
    margin-right: 4%;
    float: left;
}
#eindtermenenuitgangspunten .kolom:last-of-type{
    clear: both;
}

/* NAVIGATIE LIJSTEN */
.navlist nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
.navlist nav a{
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    display: block;
    padding: .75em 10% .75em 10%;
    border-bottom: 1px dashed #E0E1E2;
    color: #7d7e7e;
    text-decoration: none;
}
.navlist nav a:last-of-type{
    border-bottom: 0px solid #000;
}
.navlist nav a:hover, .navlistklein a:focus{
    background: #add8dc;
    color: #FFF;
}

/* TABLE */
.leerplannav{
    width: 100%;
    margin: 0;
    padding: 2em 0 1em;
}
.leerplannav ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.leerplannav a{
    display: inline-block;
    line-height: 2.5em;
    width: 30%;
    margin: 5px;
    text-align: center;
    
    text-decoration: none;
    color: #000;
    font-family: Bariol, Calibri, Arial, sans-serif;
    background: #E0E1E2;
}
.leerplannav a:hover, .leerplannav a:focus{
    background: #92CDCF;
}
h2{
    width: 80%;
    padding: 20px 0 0 0;
}
table{
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #000;
    border-collapse: collapse;
    border: 2px solid #92CDCF;
    width: 95%;
    margin: .5em auto 1.5em;
}
table th{
    width: 5em;
    background-color: #92CDCF;
    height: 2.5em;
    text-align: center;
    border: 1px solid #fff;
    color: #000;
}
table td{
    border: 1px solid #92CDCF;
    text-align: left;
    line-height: 1.5em;
    transition: background 2s;
}
table td:hover{
    background: #92CDCF;
}
table ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
table ul li{
    width: 100%;
    text-align: left;
    border-bottom: 1px dashed #E0E1E2;
    margin: 0;
}
table ul li:last-of-type{
    border-bottom: 1px dashed rgba(0,0,0,0);;
}
table a{
    display: block;
    margin: 0;
    border: 0;
    padding: .5em 1em;
    text-decoration: none;
    color: #000;
    background-color: rgba(0,0,0,0);
}
table a:hover, table a:focus{
    background: #fff;
    color: #000;
}
.terugtop a{
    opacity: .4;
    display: block;
    background: #E0E1E2;
    color: #000;
    text-decoration: none;
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 1.2em;
    margin: 0 auto 1em;
    width: 20%;
    padding: .5em 1em;
    border-radius: .5em;
    text-align: center;
    transition: background .2s, opacity .2s;
}
.terugtop a:hover, .terugtop a:focus{
    background: #92CDCF;
    opacity: 1;
}

/* page layout sidenav and datacontent */
.bgcolor{
    background: #92CDCF;
}
.sidenav{
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    background-color: #92CDCF;
}
.sidenav header{
    margin: 0;
    padding: 0;
}
.sidenav header h1{
    display: block;
    color: #fff;
    background-color: #6C9899;
    text-align: center;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding: 15px 0px;
}
.sidenav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidenav a{
    background: rgba(0,0,0,0);
    font-family: Bariol, Calibri, Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dashed #E0E1E2;
}
.sidenav a:hover, .sidenav a:focus{
    background: #fff;
    color: #000;
}
.sidenav a.current{
    background: #E7E9EA;
    color: #000;
}
.sidenav a.current:hover, .sidenav a.current:focus{
    color: #92CDCF;
}
.datacontent{
    margin-left: 200px;
    background: #fff;
}
.datacontent ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.datacontent li{
    margin: 0;
    padding: 0;
    width: 100%;
}
.datacontent a{
    font-family: Bariol, Calibri, Arial, sans-serif;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #000;
    text-align: left;
}
.datacontent a:hover, .datacontent a:focus{
    background: #92CDCF;
}
.datacontent li:last-of-type{
    padding-bottom: 2em;
    min-height: 4.28em;
}
.column{
    width: 49.9%;
    float: left;
    background: #fff;
}
.column:last-of-type{
    border-left: 1px dashed #E0E1E2;
}
.column h2{
    font-family: Bariol, Calibri, Arial, sans-serif;
    color: #000;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 1em auto .25em;
    padding: 0;
}
.clearfix:after 
{ 
 content: "."; 
 display: block; 
 clear: both; 
 visibility: hidden; 
 line-height: 0; height: 0; 
}