body {
    background-image: url(../img/dashed_line.png);
    background-repeat: repeat-y;
    background-size: 2px;
    background-position: 65%;
}

nav {
    position: fixed !important;
    top: 0;
    z-index: 9997;
}

#sideBar {
    display: block;
    margin-top: 0px;
    margin: 0 !important;
    height: 100%;
    width: 30%;
    z-index: 9996;
    position: fixed;
    background-color: #EDEEEE;
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

#sideBar img {
    display: block;
    margin: 0 auto;
    width: 110px;
    margin-top: 115px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.borderMv {
    border: 4px solid #A8D7D9;
}

.borderVac {
    border: 4px solid #FEF1C0;
}

.borderIm {
    border: 4px solid #F2ABA9;
}

.borderLav {
    border: 4px solid #98CEB5;
}


#file {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50% !important;
    background-color: black;
    position: absolute;
    top: 121px;
    left: 50%;
    margin-left: -55px;
    opacity: 0 !important;
}

#sideBar div h1 {
    display: block;
    margin: auto 0;
    font-family: "bariol bold";
    font-size: 1.6em;
    text-align: center;
    color: #A8D7D9;
}

#sideBar div h2 {
    display: block;
    padding-bottom: 40px;
    font-family: bariol;
    font-size: 1em;
    text-align: center;
    color: #4E4F58;
    border-bottom: 2px solid #F3F4F4;
}

#sideBar div ul {
    display: block;
    width: 215px;
    margin-left: 0px;
    margin-top: 40px;
    list-style-type: none;
    font-family: bariol;
    color: #4E4F58;
}

#sideBar div ul li {
    display: block;
    margin: 15px 0px;
    padding-left: 30px;
}

#sideBar div ul li:nth-child(1) a {
    text-decoration: none;
    color: #4E4F58;
}

#sideBar div ul li:nth-child(1) {
    background-image: url(../img/crown.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 17px;
}

#sideBar div ul li:nth-child(2) {
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 15px;
}

#sideBar div ul li:nth-child(3) {
    background-image: url(../img/users.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 16px;
}

#sideBar div ul li:nth-child(4) {
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
    background-position:  left;
    background-size: 15px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
}

#sideBar div ul li:nth-child(4) a {
    text-decoration: none;
    color: #4E4F58;
    -o-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

#sideBar div ul li:nth-child(4) a:hover {
    color: #92CDCF;
}


#sideBar div a.edit {
    display: block;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 5%;
    padding-top: 35px;
    text-decoration: none;
    text-align: center;
    font-family: bariol;
    font-size: .9em;
    color: #91CBCD;
    background-image: url(../img/quit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#sideBar div a:hover {
    color: #89C0C2;
}

#changeForm {
    display: block;
    width: 70%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #E6E7E7;
    z-index: 9995;
    -o-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#changeForm .closeChange {
    display: block;
    position: absolute;
    background-image: url(../img/closeChange.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    right: 2%;
    top: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#myStream {
    display: block;
    width: 70%;
    float: right;
    margin: 0;
    background: none;
    z-index: 9994;
    -o-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#myStream img {
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

#myStream article {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.marg-top {
    margin-top: 130px !important;
}

.marg-bot {
    margin-bottom: 50px !important;
}

.counter {
    display: block;
    background: none;
    padding: 0px !important;
}

#myStream article div {
    display: block;
    width: 45%;
    height: 140px;
    background-color: #FFFFFF;
}

.auto {
    height: auto !important;
}

.fullWidth {
    width: 100% !important;
    background-color: #E7E8E9 !important;
}

.boxLine {
    display: block;
    width: 50%;
    height: 1px;
    background-color: #90CACC;
}

.left {
    float: left;
}

.right {
    float: right;
}

textarea::-webkit-input-placeholder {
    display: block;
    padding: 5px;
}

#myStream article div textarea {
    display: block;
    width: 100%;
    resize: none;
    border: 0;
    outline: none;
    font-family: bariol;
    font-size: 1em;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#myStream article div textarea:nth-child(1) {
    height: 30px;
    float: left;
}

#myStream article div textarea:nth-child(2) {
    border-top: 1px dashed #D3D4D6; 
    height: 60px;
    float: left;
}

#myStream article div input {
    display: block;
    border: 0;
    background-color: #C2D8DA;
    color: #FFFFFF;
    font-family: bariol;
    font-size: .9em;
    border-radius: .3em;
    margin: 11px 15px;
    padding: 5px 15px;
    float: right;
    outline: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#myStream article div input:hover {
    background-color: #B9CED0;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;  
}

#myStream article div ul {
    display: block;
    list-style: none;
    width: auto; !important;
    margin: 0px;
    margin-left: 10px;
    padding: 15px 0px;
}

#ulPost {
    float: left;
    padding: 9px 0px !important;
}

#myStream article div #ulPost li {
    display: inline-block !important;
    margin: 0px 5px;
    padding: 16px;
    border-radius: 50%;
    background-color: #C2D8DA;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#myStream article div #ulPost li:hover {
    background-color: #B9CED0;
}

#myStream article div ul li:hover {
    background-color: #BED4D5;
}


#myStream article div #ulPost li:nth-child(1) {
    display: inline;
    background-image: url(../img/attachment.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    
}

#myStream article div #ulPost li:nth-child(2) {
    display: inline;
    background-image: url(../img/camera.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    
}

#myStream article div #ulPost li:nth-child(3) {
    display: inline;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    
}

#myStream article div p {
    display: block;
    margin: 0 auto;
    text-align: justify;
    width: 90%;
    font-family: bariol;
    font-size: .9em;
    color: #505562;
}

#myStream article div a {
    display: block;
    margin: 0 auto;
    background-color: #E7E8E9;
    padding: 5px 10px;
    text-decoration: none;
    font-family: bariol;
    color: #505562;
}

#myStream article div h1 {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: bariol;
    color: #91CBCD;
}

#myStream article div h2 {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: bariol;
    font-size: .7em;
    color: #D3D4D6;
}

#myStream article div ul li {
    display: inline-block;
    margin: 0px 5px;
    padding: 16px;
    border-radius: 50%;
    background-color: #D4EAEC;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#myStream article div ul li:nth-child(1) {
    background-image: url(../img/thumbsup.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

#myStream article div ul li:nth-child(2) {
    background-image: url(../img/bubble.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
}

.absolute {
    position: absolute;
    left: 65%;
    border-radius: 50%;
    margin-left: -26.5px;
    margin-top: -26.5px;
}

.absolute-post {
    position: absolute;
    left: 65%;
    border-radius: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.border {
    border: 4px solid;
}

.border-yellow {
    border-color: #FEF1C0;
}

.border-red {
    border-color: #F2ABA9;
}

.border-green {
    border-color: #98CEB5;
}

.margin-pic {
    margin: 0px 15px;
}

.scale:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#login {
    width: 40px;
    height: 40px;
    padding: 0 !important;
    background: url(../img/teacher2.png) center no-repeat;
    background-size: 40px;
    border-radius: 50%;
    text-indent: -9999px;
    border: 4px solid #FFF1C0;
}

#login:hover {
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: none !important;
}

/* jquery */

.trans {
    top: -150% !important;
}

.arrow {
    background-image: url(img/arrow-up-white.png) !important;
    background-repeat: no-repeat;
    background-size: 15px !important;
    background-position: center;
}

.opacity {
    opacity: 1 !important;
}

.bgScale {
    background-image: url(img/camera.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 20px !important;
}

/* icomoon */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?1c3t6n');
	src:url('../fonts/icomoon.eot?#iefix1c3t6n') format('embedded-opentype'),
		url('../fonts/icomoon.woff?1c3t6n') format('woff'),
		url('../fonts/icomoon.ttf?1c3t6n') format('truetype'),
		url('../fonts/icomoon.svg?1c3t6n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
	content: "\e601";
}

@media only screen and (max-width: 950px) {
    
    .resp {
        width: 35px;
        border-radius: 50%;
        margin-left: -21.5px;
        margin-top: -21.5px;
    }
    
    .resp-post {
        width: 40px;
        border-radius: 50%;
        margin-left: -20px;
        margin-top: -20px;
    }
    
    .no-pic {
        width: 43px;
    }
    
    #myStream article div input {
        padding: 5px 11px;
    }
    
    #myStream article div #ulPost li {
    margin: 0px 2px;
}
    
}

@media only screen and (max-width: 750px) {
    
    #sideBar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 540px;
    }
    
    #sideBar div ul {
        display: block;
        margin: 0 auto;
        margin-top: 25px !important;
    }
    
    .editBg {
        display: block !important;
        background-image: url(../img/pencil.png);
        background-repeat: no-repeat;
        background-position:  left;
        background-size: 16px;
        color: #91CBCD;
        padding-left: 30px;
        cursor: pointer;
    }
    
    #sideBar div h2 {
        padding-bottom: 20px;
    }
    
    .right-resp {
        float: right;
    }
    
    body {
        background-position: 10%;
    }
    
    .top-resp {
        margin-top: 610px !important;
    }
    
    .absolute {
        left: 10%;
    }
    
    .absolute-post {
        left: 10%;
    }
    
    .edit {
        display: none !important;
    }
    
    #myStream {
        float: none;
        width: 80%;
        margin: 0 auto !important;
    }
    
    #myStream article {
        width: 100%;
        margin-left: 0;
        margin-right: 0 !important;
    }
    
    #myStream article div {
        width: 90%;
    }
    
    .boxLine {
        width: 100%;
    }
    
    .bot-resp {
        margin-bottom: 50px !important;
    }
    
    /* nav */
    
    header > nav > a[href="index.html"] {
        display: block;
        float: none;
        margin: 0 auto !important;
        text-align: center;
        margin-top: 0 !important;
    }
    
    .borderNull {
        border: 0;
    }
    
    .translateLeft {
        margin-left: -300px !important;
    }
    
    .menuLayer {
        position: fixed !important;
        z-index: 9997 !important;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .3);
    }
    
    header nav ul li {
        display: block;
        margin: 0;
    }
    
    header nav ul li a:hover {
        color: #92CDCF !important;
    }
    
    .top {
        margin: 0;
    }
    
    .closeMenu {
        width: 30px;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center;
        position: absolute;
        -webkit-transition: all .2s;
        transition: all .2s;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    
    .arrowMenu {
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    
    .menu {
        display: block !important;
        position: absolute;
        cursor: pointer;
        left: 11px;
        top: 10px;
        width: 50px;
        height: 50px;
        background-image: url(../img/menu.png);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: center;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    
    .overflow {
        overflow: hidden !important;
        overflow-y: hidden !important;
        position: fixed;
    }
    
}