section {
    width: 50%;
}

#titel {
    color: #92CDCF;
    font-family: Bariol, Calibri, Arial, sans-serif;
    padding-top: 1em;
    text-align: center;
    background-color: transparent;
    font-size: 2em;
}

#navli, #architectuur, #beeld, #dans, #media, #muziek, #woord {
    color: #4F5461;
    list-style-type: none;
    font-family: Source Sans Pro, Calibri, Arial, sans-serif;
    text-decoration: none;
    padding-right: 2.5em;
}

#navli {
    text-align: center;
}

#navli li {
    display: inline;
}

#navli li a{
    font-family: font-family: Bariol, Calibri, Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #4F5461;
    -moz-transition: .2s all;
    -webkit-transition: .2s all;
    transition: .2s all;
    margin: 0 10px;
}

#navli li a:hover:not(#login) {
    color: #92CDCF;
}

#architectuur, #beeld, #dans, #media, #muziek, #woord {
    padding-top: 4.5em;
}

#architectuur ul {
    list-style-type: none;
}

#architectuur ul li {
    padding: .25em 0;
}

#beeld ul {
    list-style-type: none;
}

#beeld ul li {
    padding: .25em 0;
}

#dans ul {
    list-style-type: none;
}

#dans ul li {
    padding: .25em 0;
}

#media ul {
    list-style-type: none;
}

#media ul li {
    padding: .25em 0;
}

#muziek ul {
    list-style-type: none;
}

#muziek ul li {
    padding: .25em 0;
}

#woord ul {
    list-style-type: none;
}

#woord ul li {
    padding: .25em 0;
}

h2 {
    text-align: center;
}

#totop {
    font-size: 1em;
    position: fixed;
    top: 50%;
    left: 90%;
    float: right;
    margin-right: 3%;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    section {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    section {
        width: 70%;
    }
    section p {
        width: 85%;
    }
}

@media (max-width: 900px) {
    section {
        width: 80%;
    }
    section p {
        width: 90%;
    }
}

@media (max-width: 700px) {
    section {
        width: 90%;
    }
    
    section p {
        width: 95%;
    }
}